/* Footer */

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer a {
    color: #222;
}

.footer .social a{
     font-size: 2rem;
}

.normal-box,
.social {
    padding-top: 2em;
    width: 50%;
    text-align: center;
}

.normal-box li,
.social a {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.copyright p {
    text-align: center;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.container {
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
}