/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}