/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
}

/* Title */

.title,
.logo {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.logo {
    padding-top: 0;
}

.title * {
    color: var(--text-color);
}

.title p {
    font-style: italic;
}