/* Footer */

.container {
  // background-color: $footer-background-color;
  border-top: 1px solid $border-color;
  // margin-top: 2rem;
  margin-bottom: 0;
  height: 20vh;
}

.footer-h3 {
    font-size: 1.4em;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.footer {
  // background-color: $footer-background-color;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  color: $border-color;
}

.footer .social a,
.footer .normal-box a {
  font-size: 2rem;
}

.normal-box,
.social {
  padding-top: 2em;
  width: 50%;
  text-align: center;
  margin-bottom: 2%;
}

.normal-box li,
.normal-box a,
.social a {
  display: flex;
  justify-content: center;
  color: $text-color;
}

.copyright p {
  text-align: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.fa-github {
  color: $icon-color;
}

.fab,
.fas {
  color: $icon-color;
}

.footer h3, 
.copyright p {
  color: $nav-color;
}