img,
embed,
object,
video {
  max-width: 100%;
}

.gallery-container{
  display: grid;
  gap: 10px;
  margin: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-content: center;
  justify-content: center;
}

.gallery-container > * {
  justify-self: center;
  align-self: center;
}

.gallery-img{
  border-radius: 10px;
  border: 2px solid black;
  
}

.gallery-article {
  text-align: left;
}