/* Header */

.header,
.site-header {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
  height: 13rem;
  border-bottom: 1px solid $border-color;
  // background-color: $header-background-color;
}

/* Title */

.title {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo {
  min-width: 10%;
}

.logo {
  padding-top: 0;
}

.title * {
  color: $text-color;
}

.title p {
  font-style: italic;
}
