/* Placement */

body {
  // background-color: $background-color;
  height: 100vh;
}

html {
  height: 100vh;
  font-size: 100%;
  background-color: $background-color;
}

.main {
  flex: 1 0 auto;
  flex-direction: column;
  width: 64em;
  margin: 1.96rem auto;
  min-height: 55vh;
  margin-top: 0;
  margin-bottom: 0;
}

.article {
  background-color: $article-background-color;
}

.header,
.footer {
  flex: 0 0 auto;
}

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}
