/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
}

.main {
    flex: 1 0 auto;
    width: 70%;
    margin: auto;
    min-height: 30vh;
    margin-top: 2rem;
}

.article {
    margin: 0 auto;
    max-width: 90%;
}


.header,
.footer {
    flex: 0 0 auto;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}