/* Placement */

body {
  background-color: $dark-color;
}

html {
  font-size: 100%;
}

.main {
  flex: 1 0 auto;
  flex-direction: column;
  width: 64em;
  margin: 1.96rem auto;
  min-height: 55vh;
}

.header,
.footer {
  flex: 0 0 auto;
}

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html,
body {
  height: 100vh;
}
