/* Grid container */
.landingpage {
  display: grid;
  gap: 1em; /* row gap col gap*/
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.landingpage > h1 {
  grid-column: span 3;
  justify-self: center;
  font-size: 2.5em;
}

.landingpage p {
  grid-column: span 3;
}

.box {
  border-radius: 10px;
  transition: scale 1s;
}

.box:hover {
  scale: 1.1;
}

a,

h1 {
  color: $text-color;
  text-decoration: none;
}


.landingpage p {
  justify-self: left;
}

.css {
  grid-column: 1;
  background-image: linear-gradient(to bottom right, $css-color, $css-color, $text-color);
}

.html,
.javascript {
  grid-column: span 2;
  background-image: linear-gradient(to bottom right, $js-color, $js-color,$text-color);
}

.html {
  background-image: linear-gradient(to bottom right, $html-color, $html-color,$text-color);
}

.python {
  grid-column: span 3;
  order: 1;
  background-image: linear-gradient(to bottom right, $python-color, $python-color, $python-color, $text-color);
}

.git {
  grid-column: span 2;
  background-image: linear-gradient(to bottom right, $git-color, $git-color,$text-color);
}

.php {
  background-image: linear-gradient(to bottom right, $php-color, $php-color,$text-color);
}

.sqlite {
  background-image: linear-gradient(to bottom right, $sqlite-color, $sqlite-color,$text-color);
}
