.technology {
  display: grid;
  gap: 2em;
  max-width: 80%;
  margin: 0 auto;
}

.menu {
  grid-column: 1;
  border: 1px solid $border-color;
  padding: 2em;
}

.menu *:hover {
  scale: 1.1;
}

.article {
  grid-column: 2;
  padding: 2em;
}

.techcss {
  grid-column: 1;
  color: $css-color;
}

.techhtml,
.techjs {
  grid-column: span 2;
  color: $js-color;
}

.techhtml {
  color: $html-color;
}

.techpython {
  grid-column: span 3;
  order: 1;
  color: $python-color;
}

.techgit {
  grid-column: span 2;
  color: $git-color;
}

.techphp {
  color: $php-color;
}

.techsqlite {
  color: $sqlite-color;
}

// .active {
//   background-color: red;
// }
