/* Grid container */
.landingpage {
  display: grid;
  gap: 1em 1em; /* row gap col gap*/
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.landingpage > h1 {
  grid-column: span 3;
  justify-self: center;
  font-size: 2.5em;
}

.landingpage p {
  grid-column: span 3;
}

.box {
  border-radius: 10px;
  transition: scale 1s;
}

.box:hover {
  scale: 1.1;
}

a, h1 {
  color: $text-color;
  text-decoration: none;
}


.landingpage p {
  justify-self: left;
}

.css {
  grid-column: 1;
  background-color: #12BC00;
}

.html,
.javascript {
  grid-column: span 2;
  background-color: #9400FF;
}

.html {background-color: #A47f00;}

.python {
  grid-column: span 3;
  order: 1;
  background-color: #0d106f;
}

.git {
  grid-column: span 2;
  background-color: #b5007f;
}

.php {
  background-color: $link-color;
}

.sqlite {
  background-color: #0a48ff;
}


@media (max-width: 800px) {
.landingpage>* {
    grid-column: span 3;
  }
}