@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Typografy */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  color: $text-color;
}

a {
  color: $link-color;
  margin-bottom: 0.5rem;
}

p,
ul,
ol {
  margin-bottom: 1.96rem;
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: left;
}

h1,
h2,
h3{
  font-size: 1.8em;
  margin-bottom: 0.6em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  max-width: 100%;
}
