/* VARIABLES */

$dark-color: #0d1117;
$text-color: #f0f6fc;
$border-color: #222;
$code-text-color: $border-color; 
$link-color: #4493f8;
$css-color: #12bc00;
$js-color: #9400ff;
$html-color: #a47f00;
$python-color: #191aed;
$git-color: #b5007f;
$php-color: $link-color;
$sqlite-color: #0a48ff;
$logo-gold-color: #fec934;
$logo-white-color: #d9dada;

