$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
$dark-color: #0d1117;
$text-color: #f0f6fc;
$border-color: #222;
