/* VARIABLES */

$dark-color: #0d1117;
$text-color: #f0f6fc;
$border-color: #222;
$code-text-color: $border-color; 
$link-color: #4493f8;
$css-color: #12BC00;
$js-color: #9400FF;
$html-color: #A47f00;
$python-color: #0d106f;
$git-color: #b5007f;
$php-color: $link-color;
$sqlite-color: #0a48ff;